In [37]:
from google.cloud import vision
import io
import pandas as pd
import os
import cv2
from textblob import TextBlob

In [2]:
# authenticate client 
client = vision.ImageAnnotatorClient.from_service_account_json('XXXX.json')

In [5]:
X = pd.read_csv("../raw_data/train_x.csv", delimiter=" ", index_col="Id")

In [8]:
image_path = os.path.join("../raw_data/Images/", X['Image_name'][1])
#image = cv2.imread(image_path)

In [9]:
with io.open(image_path, 'rb') as image_file:
    content = image_file.read()

image = vision.Image(content=content)

In [14]:
response = client.text_detection(image=image)
texts = response.text_annotations
text_content = ''

if texts:
    title = texts[0].description
else:
    title = '' 
    
print('Title:', title)

Title: Maghets
Pulling Together
Pushing Apart

In [24]:
# Create an empty DataFrame to store the extracted text
data = []

for i in range(len(X['Image_name'])):
    image_path = os.path.join("../raw_data/Images/", X['Image_name'][i])
    with io.open(image_path, 'rb') as image_file:
        content = image_file.read()

    image = vision.Image(content=content)
    response = client.text_detection(image=image)
    texts = response.text_annotations

    if texts:
        title = texts[0].description.replace('\n', ' ')
    else:
        title = ''
        
    title = title.strip() 

    # Append the extracted text to the DataFrame
    data.append({'Image_name': X['Image_name'][i], 'Title': title})

# Print the DataFrame with the extracted text
df = pd.DataFrame(data)

print(df)

           Image_name                                              Title
0      1588345297.jpg  Colet example, and SA sported ronals Gentl Twi...
1      1404803335.jpg             Maghets Pulling Together Pushing Apart
2      1446276082.jpg  ENERGY SECURITY VOLUME SAGE LIBRARY OF INTERNA...
3      1491522666.jpg  AUDIOBOOK MP3-CD Insert Transfer Listen! TREES...
4      0970096410.jpg       City of Rocks Idaho A Climber's Guide untale
...               ...                                                ...
51295  0399176055.jpg  JOHN SANDFORD NEW YORK TIMES-BESTSELLING AUTHO...
51296  0719816629.jpg  SECOND EDITION THE CRIME WRITER'S GUIDE TO POL...
51297  0385353596.jpg             THE JEZEBEL REMEDY A Nord MARTIN CLARK
51298  1475988559.jpg                                STARTUP GLENN OGURA
51299  045147483X.jpg  Bad karaden The Mystery Mystery Ender KILLER T...

[51300 rows x 2 columns]

In [43]:
df

           Image_name                                              Title
0      1588345297.jpg  Colet example, and SA sported ronals Gentl Twi...
1      1404803335.jpg             Maghets Pulling Together Pushing Apart
2      1446276082.jpg  ENERGY SECURITY VOLUME SAGE LIBRARY OF INTERNA...
3      1491522666.jpg  AUDIOBOOK MP3-CD Insert Transfer Listen! TREES...
4      0970096410.jpg       City of Rocks Idaho A Climber's Guide untale
...               ...                                                ...
51295  0399176055.jpg  JOHN SANDFORD NEW YORK TIMES-BESTSELLING AUTHO...
51296  0719816629.jpg  SECOND EDITION THE CRIME WRITER'S GUIDE TO POL...
51297  0385353596.jpg             THE JEZEBEL REMEDY A Nord MARTIN CLARK
51298  1475988559.jpg                                STARTUP GLENN OGURA
51299  045147483X.jpg  Bad karaden The Mystery Mystery Ender KILLER T...

[51300 rows x 2 columns]

In [36]:
df.to_csv('../raw_data/titles_data/titles_train.csv', index=False)

In [27]:
empty = 0
for i in data:
    if not any(i):
        empty += 1

In [28]:
empty

0

## Test Set

In [38]:
X_test = pd.read_csv("../raw_data/test_x.csv", delimiter=" ", index_col="Id")

In [40]:
X_test

          Image_name                                              Title
Id
0     044310073X.jpg  Oral and Maxillofacial Surgery: An Objective-B...
1     1438005687.jpg                         Barron's GRE, 21st Edition
2     0060750715.jpg  George Balanchine: The Ballet Maker (Eminent L...
3     1580237959.jpg  A Partner in Holiness: Deepening Mindfulness, ...
4     0135137829.jpg  Construction Scheduling: Principles and Practi...
...              ...                                                ...
5695  0399174680.jpg     Scandalous Behavior (A Stone Barrington Novel)
5696  1939454654.jpg                     Age of Distraction: The Island
5697  1604601604.jpg  The Ghostly Quilts on Main (Colebridge Communi...
5698  0399166726.jpg              Saving Jason (A Jason Stafford Novel)
5699  0062073508.jpg  Murder on the Orient Express: A Hercule Poirot...

[5700 rows x 2 columns]

In [44]:
# Create an empty DataFrame to store the extracted text
data_test = []

for i in range(len(X_test['Image_name'])):
    image_path = os.path.join("../raw_data/Images/", X_test['Image_name'][i])
    with io.open(image_path, 'rb') as image_file:
        content = image_file.read()

    image = vision.Image(content=content)
    response = client.text_detection(image=image)
    texts = response.text_annotations

    if texts:
        title = texts[0].description.replace('\n', ' ')
    else:
        title = ''
        
    title = title.strip() 

    # Append the extracted text to the DataFrame
    data_test.append({'Image_name': X_test['Image_name'][i], 'Title': title})

# Print the DataFrame with the extracted text
df_test = pd.DataFrame(data_test)

print(df_test)

          Image_name                                              Title
0     044310073X.jpg  Sereed Camion Oral and Maxillofacial Surgery A...
1     1438005687.jpg  BARRON'S The Leader in Test Preparation GRE MO...
2     0060750715.jpg  The Ballet Maker wwww. George Balanchine Rober...
3     1580237959.jpg  INSTITUTE FOR JEWISH SPIRITUALITY SERIES A PAR...
4     0135137829.jpg  Tu Oce P and P and Co acred Construction Sched...
...              ...                                                ...
5695  0399174680.jpg  #1 NEW YORK TIMES BESTSELLING AUTHOR STUART WO...
5696  1939454654.jpg  STORIES FROM THE AGE OF DISTRACTION VOLUME ONE...
5697  1604601604.jpg  Fifth Moved in the Culasidge Community Series ...
5698  0399166726.jpg  WX -LIBA Saving Jason MICHAEL SEARS BLACK FRIDAYS
5699  0062073508.jpg  THE QUEEN OF MYSTERY gatha Christie C MURDER O...

[5700 rows x 2 columns]

In [45]:
empty = 0
for i in data_test:
    if not any(i):
        empty += 1

In [46]:
empty

0

In [48]:
df_test.to_csv('../raw_data/titles_data/titles_test.csv', index=False)

In [49]:
len(df), len(df_test)

(51300, 5700)